@using TPGamePlus.Domain.Entities
@model IEnumerable<TPGamePlus.Domain.Entities.Order>
@{
	ViewData["Title"] = "Admin";
}

<head>
	<link rel="stylesheet" href="~/css/Admin.css">
</head>



<btn class="btn">
	<a asp-controller="Admin" asp-action="IndexAdmin">Page admin</a>
</btn>
<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OrderID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsConfirmed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Items)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VerifiedDate)
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.OrderID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsConfirmed)
				</td>
				<td>
					@switch (item.Status)
					{
						case 0:
							<p>En attente</p>
							break;
						case 1:
							<p>Accepter</p>
							break;
						case 2:
							<p>Refuser</p>
							break;
						case 3:
							<p>En livraison</p>
							break;
						case 4:
							<p>Arriver</p>
							break;
						default:
							<p>INVALIDE VALUE</p>
							break;
					}
				</td>
				<td>
					<vc:order-item-list s-name="@item.UserName" id="@item.OrderID"></vc:order-item-list>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VerifiedDate)
				</td>
				@switch (item.Status)
				{
					case (int)OrderStatus.EnAttente - 1:
						@if (item.IsConfirmed == true)
						{
							<td>
								<a asp-controller="Admin" asp-action="ConfirmOrder" asp-route-id="@item.OrderID">Confirmer</a> |
								<a asp-controller="Admin" asp-action="DeclineOrder" asp-route-id="@item.OrderID">Décliner</a>
							</td>
						}
						break;
					case (int)OrderStatus.Accepter - 1:
						<td>
							<a asp-controller="Admin" asp-action="SetShippingOrder" asp-route-id="@item.OrderID">Mettre en livraison</a> |
							<a class="PointerCursor" onclick="ComfirmeDelete('/Admin/DeleteOrder/@item.OrderID')">Supprimer</a>
						</td>
						break;
					case (int)OrderStatus.Refuser - 1:
						<td>
							<a class="PointerCursor" onclick="ComfirmeDelete('/Admin/DeleteOrder/@item.OrderID')">Supprimer</a>
						</td>
						break;
					case (int)OrderStatus.Livraison - 1:
						<td>
							<a asp-controller="Admin" asp-action="completOrder" asp-route-id="@item.OrderID">Commande complété</a> |
							<a class="PointerCursor" onclick="ComfirmeDelete('/Admin/DeleteOrder/@item.OrderID')">Supprimer</a>
						</td>
						break;
					case (int)OrderStatus.Arriver - 1:
						<td>
							<a class="PointerCursor" onclick="ComfirmeDelete('/Admin/DeleteOrder/@item.OrderID')">Supprimer</a>
						</td>
						break;
					default:
						<td>
							<a class="PointerCursor" onclick="ComfirmeDelete('/Admin/DeleteOrder/@item.OrderID')">Supprimer</a>
						</td>
						break;
				}
			</tr>
		}
	</tbody>
</table>
