@model TPGamePlus.Models.Admin.ProductViewModel
@{
	ViewData["Title"] = "Admin";
}

<head>
	<link rel="stylesheet" href="~/css/Admin.css">
</head>



<div>
	<h4 class="textCenter">Créer un produit</h4>
	<a class="btn btn-admin nav-link-2 btnEnable" asp-controller="Admin" asp-action="IndexAdmin">Page admin</a>
</div>
<hr />
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form asp-controller="Admin" asp-action="ManageProduct" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ActualPrice" class="control-label"></label>
				<input asp-for="ActualPrice" min="0" class="form-control" />
				<span asp-validation-for="ActualPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" min="0" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Quantity" class="control-label"></label>
				<input asp-for="Quantity" min="0" class="form-control" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Plateforme" class="control-label"></label>
				<select asp-for="Plateforme" asp-items="@ViewBag.Plateformes" class="form-control">
					<option value="">Select Plateforme</option>
				</select>
				<span asp-validation-for="Plateforme" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Compagny" class="control-label"></label>
				<select asp-for="Compagny" asp-items="@ViewBag.Compagny" class="form-control">
					<option value="">Select Company</option>
				</select>
				<span asp-validation-for="Compagny" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Available" class="control-label"></label>
				<select asp-for="Available" asp-items="@ViewBag.Status" class="form-control">
					<option value="">Select Disponibility</option>
				</select>
				<span asp-validation-for="Available" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Category" class="control-label"></label>
				<select id="categoriesList" asp-for="Category" asp-items="@ViewBag.Categories" onchange="CheckOptionnalOption()" class="form-control">
					<option value="">Select Category</option>
				</select>
				<span asp-validation-for="Category" class="text-danger"></span>
			</div>



			<div class="form-group">
				<label asp-for="Images" class="control-label"></label>
				<input asp-for="Images" type="file" name="file" class="form-control" style="height: fit-content;" />
			</div>

			<div id="additionnalOption" class="hideElement">
				<div class="col-12" style="padding-top: 20px; padding-bottom:10px;">
					<div class="col-12">Section optionnel / si le produit est un jeu</div>
					<div class="col-12" style="border-top: solid 3px black;"></div>
				</div>

				<div class="form-group hide" id="games">
					<label asp-for="Publisher" class="control-label"></label>
					<select asp-for="Publisher" asp-items="@ViewBag.Publishers" class="form-control">
						<option value="">Select Publisher</option>
					</select>
					<span asp-validation-for="Publisher" class="text-danger"></span>
				</div>
			</div>



			<div class="form-group">
				<input type="submit" value="Créer" class="btn btn-primary btnEnable" />
			</div>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>